<footer class="pt-5 my-5 text-muted border-top">
  <div class="row">
    <div class="col-md-6 text-end social-media-icons">
      {% for item in site.data.settings.social %}
      {% assign href = item.link | downcase %}
      {% if href contains 'mailto:' or item.icon == 'envelope' %}
      {% assign style = 'fas' %} {# FA5 solid; for FA6 use 'fa-solid' #}
      {% else %}
      {% assign style = 'fab' %} {# FA5 brands; for FA6 use 'fa-brands' #}
      {% endif %}
      <a href="{{ item.link }}" class="ms-3 fs-5">
        <i class="{{ style }} fa-{{ item.icon }}"></i>
      </a>
      {% endfor %}
    </div>
  </div>
</footer>
